* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

header {
  background-color: rgba(20, 31, 194, 0.548);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
}

header nav ul {
  display: flex;
  gap: 5px;
}
header nav ul nav {
  padding: 10px;
  display: flex;
  justify-content: end;
}
header nav ul nav li {
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 375px) {
  header {
    padding: 15px;
    text-align: center;
    display: block;
    flex-direction: column;
  }
  header h1 {
    margin-top: 20px;
    text-align: center;
  }
  header nav ul {
    display: block;
  }
  .titulo-portada {
    margin-top: 90px;
    font-size: 25px;
  }
  .traje-index img {
    overflow: hidden;
    margin-right: -50px;
    height: 50vh;
    width: 50vh;
    background-size: 300px;
  }
  .parrafo-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px 0px 0px;
    margin: -100px 0px 0px -200px;
  }
  /* --------CATALOGO-------- */
  .catalogo-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .catalogo-galeria img {
    width: 89%;
    text-align: center;
    padding: 5px;
    gap: 10px;
  }
  .slider-productos {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titulo-categorias {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* =====PROMOCIONES===== */
  .titulo-promociones h2 {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    padding-top: 100px;
    font-size: 40px;
  }
  .promociones-descuentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  .promociones-descuentos img {
    width: 90%;
    border: 6px solid rgb(57, 57, 116);
    margin-top: 80px;
    border-style: double;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.719);
  }
  .promociones-descuentos img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 5px rgb(57, 57, 116);
  }
}
.tarjeta-producto {
  min-width: 420px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tarjeta-producto:hover {
  transform: scale(1.1);
}

/* ====Tarjeta==== */
.titulo-producto {
  background-color: rgba(20, 31, 194, 0.548);
  padding: 10px 10px;
  margin: 20px 0px 30px 0px;
  border-radius: 30px;
}

.img-zapatos:hover {
  border: 5px solid rgba(20, 31, 194, 0.548);
}

/* ========CATALOGO======== */
.catalogo-galeria-principal {
  height: 100vh;
}

.catalogo-galeria-principal h2 {
  padding: 15px;
  font-size: 40px;
  padding: 100px;
  text-align: center;
}

.catalogo-galeria {
  display: grid;
  grid-template-columns: repeat(4, 18.5%);
  grid-template-rows: repeat(2, 25vh);
  gap: 30px;
  justify-content: center;
}

.catalogo-galeria img {
  width: 100%;
  height: 100%;
}

.destacada {
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.719);
  grid-column: span 2;
  grid-row: span 2;
  transition-duration: 1s;
}

.destacada:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px rgb(57, 57, 116);
}

.img-imagenes {
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.719);
  transition-duration: 1s;
}

.img-imagenes:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px rgb(57, 57, 116);
}

.btn-titulo {
  color: black;
  font-size: 17px;
  padding: 15px;
  border-radius: 150px;
  transition-duration: 0.5s;
}

.btn-titulo:hover {
  font-size: larger;
  color: white;
  border: 3px solid;
  padding: 10px;
}

/* ---boton--- */
.btn {
  background-color: rgb(57, 57, 116);
  border: 2px solid rgba(15, 2, 44, 0.555);
  color: white;
  border-radius: 10px;
  margin: 10px 180px;
  padding: 3px 8px 5px 8px;
  transition-duration: 0.5s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: red;
  color: white;
}

/* -----footer----- */
.titulo-categorias {
  background-color: white;
  padding: 60px;
  display: flex;
  justify-content: space-evenly;
}

/* ----Portada---- */
.portada {
  margin-right: 50px;
  height: 100vh;
  background-color: white;
  font-size: 40px;
  color: rgb(0, 0, 0);
  background-position: center;
}

.titulo-portada {
  border-radius: 70px;
  padding: 120px;
  text-align: center;
}

.producto {
  background-color: white;
  text-align: center;
  padding: 5px;
}

.slider-productos {
  display: flex;
  gap: 5px;
}

.traje-index {
  padding: 5px;
  display: flex;
  justify-content: end;
}

.parrafo {
  width: 400px;
  border-radius: 20px;
  border-style: dashed;
  margin: -410px 0px 0px 250px;
  padding: 10px 10px;
  font-size: 35px;
  text-align: center;
}

/* =====CONSULTAS===== */
/* -----Formulario----- */
.formulario {
  padding: 15px 0px 20px 0px;
  border-radius: 10px;
  margin: 10px 10px;
}

.titulo-consultas {
  background-color: rgba(20, 32, 194, 0.253);
  height: 100%;
  margin: 100px 550px 50px;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 25px;
  text-align: start;
}

.titulo-consultas {
  text-align: center;
}

/* =====PROMOCIONES===== */
.titulo-promociones h2 {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
}

.promociones-descuentos {
  display: grid;
  grid-template-columns: repeat(4, 18.5%);
  grid-template-rows: repeat(2, 25vh);
  gap: 30px;
  justify-content: center;
}

.promociones-descuentos img {
  width: 100%;
  height: 100%;
  border: 6px solid rgb(57, 57, 116);
  margin-top: 80px;
  border-style: double;
  transition-duration: 1.7s;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.719);
}

.promociones-descuentos img:hover {
  transform: scale(1.8);
  box-shadow: 0px 0px 5px 5px rgb(57, 57, 116);
}

/* =====QUIENES SOMOS===== */
.titulo-catalogo {
  height: 100vh;
}

.titulo-catalogo h2 {
  padding: 15px;
  font-size: 40px;
  padding: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========CATALOGO======== */
.catalogo-galeria-principal {
  height: 100vh;
}

.catalogo-galeria-principal h2 {
  padding: 15px;
  font-size: 40px;
  padding: 100px;
  text-align: center;
}

.catalogo-galeria {
  display: grid;
  grid-template-columns: repeat(4, 18.5%);
  grid-template-rows: repeat(2, 25vh);
  gap: 30px;
  justify-content: center;
}

.catalogo-galeria img {
  width: 100%;
  height: 100%;
}

.destacada {
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.719);
  grid-column: span 2;
  grid-row: span 2;
  transition-duration: 1s;
}

.destacada:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px rgb(57, 57, 116);
}

.img-imagenes {
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.719);
  transition-duration: 1s;
}

.img-imagenes:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px rgb(57, 57, 116);
}

/*# sourceMappingURL=styles.css.map */
