*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 

nav {
    background-color:rgba(20, 31, 194, 0.548);
    padding: 10px 50px;
ul {
    list-style: none;
    display: flex;
    justify-content: end;

li {
padding: 10px;

a {
font-size: 20px;
text-decoration: none;
}
}   
}
}
}