    /* =====CONSULTAS===== */
    
    /* -----Formulario----- */
    .formulario {
    
        padding: 15px 0px 20px 0px;
        border-radius: 10px;
        margin: 10px 10px;
        }
        
        .titulo-consultas {
            background-color: rgba(20, 32, 194, 0.253);
                height: 100%;
                margin:100px 550px 50px;
                color: rgb(0, 0, 0);
                padding: 10px;
                font-size: 25px;
        text-align: start;
        }

        .titulo-consultas {
        text-align: center;
        }