    /* ----Portada---- */
    
    .portada {
        height: 100vh;
        background-color:white;
        font-size: 40px;
    color: rgb(0, 0, 0);
    background-position: center;
    }
    


    .titulo-portada {
        border-radius: 70px;
        padding: 120px;
        text-align: center;
        }
    
    .producto {
        background-color:white;
        text-align: center;
    padding: 5px;
    }

    .slider-productos {
        display: flex;
        gap: 5px;
    }
    
    .traje-index {
        
        padding: 5px;
        display: flex;
        justify-content: end;
    }
    
    .parrafo {
    
        width: 400px;
        border-radius: 20px;
        border-style: dashed;
        margin: -435px 0px 0px 250px;
        padding: 10px 10px;        
        font-size: 35px;
        text-align: center;
    }