    /* =====QUIENES SOMOS===== */
    
    .titulo-catalogo {
        margin-top: 90px;
        font-size: 40px;
        text-align: center;
    }

    .parrafo-qs {
        width: 400px;
        background-color: rgba(0, 0, 255, 0.342);
        border-radius: 20px;
        border: 4px double;
        margin: 105px 0px 0px 350px;
        padding: 10px 10px;        
        font-size: 30px;
        text-align: center;
        position: absolute;
    }

    .qs-formulario {
        padding-left: 50px;
        }

    .titulo-quiensomos {
    color: rgb(0, 0, 0);
    padding-left: 160px;
    padding-top: 10px;
    margin-right: 60%;
    margin-bottom: 150px;
    font-size: 25px;
    transform: translate(100%, 20%);
    }

    .qs-formulario label {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
        
    }

.titulo-quiensomos form input,
.titulo-quiensomos form button {
        width: 100%;
        border: none;
        padding: .7em;
        background-color: none;
        outline: none;
        border-bottom: 2px solid $color-primario;
        margin: 5px;
        
}

.titulo-quiensomos h3 {
    margin-top: 30px;
    margin-left: 50px;
    transform: translateX(50%);
}

@media (max-width: 768px) {
    .titulo-quiensomos form input,
.titulo-quiensomos form button {
        border: none;
        padding: .3em 270px;
        background-color: none;
        outline: none;
        border-bottom: 2px solid $color-primario;
        margin: 5px -390px;
        transform: translate(-5%, 30%);        
}

.qs-formulario label {
    position: absolute;
    margin: 15px -150%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.parrafo-qs {
    width: 400px;
    background-color: rgba(0, 0, 255, 0.342);
    border-radius: 20px;
    border: 4px double;
    margin: 30px 0px 0px 190px;
    padding: 10px 10px;        
    font-size: 30px;
    text-align: center;

}

.titulo-quiensomos h3 {
    margin-top: 270px;
    transform: translateX(-200%);
}

}