.btn-titulo {
    color: black;
    font-size: 15px;
    padding: 15px;
    border-radius: 150px;
    transition-duration: 0.5s;
}

.btn-titulo:hover {
    font-size: larger;
color:white;
border: 2px solid;
padding: 10px; 
}
    /* ---boton--- */
    
    .btn{
        background-color: rgb(57, 57, 116);
        border: 2px solid rgba(15, 2, 44, 0.555);
        color: white;
        border-radius: 10px;
        margin: 10px 180px;
        padding: 3px 8px 5px 8px;
        transition-duration: 0.5s;
    }
    
    .btn:hover {
    transform: scale(1.1);
    background-color:red;
    color: white;
    }
    
