header {
    background-color:$color-primario;
    padding: 20px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    position: absolute;
    top: 0;
    
}
header nav ul {
    display: flex;
    gap: 5px;

    nav {
        padding: 10px;

        display: flex;
        justify-content: end;

        li {
            padding: 10px;
            font-size: 20px;
        }
    }
}
// @media (max-width: 375px) {
//     header {
//         padding: 20px;
//         text-align: center;
//         display: block;
//         flex-direction: column;
//     }

//     header h1 {
//         margin-top: 10px;
//         text-align: center;
//     }


// /* =====PROMOCIONES===== */

// .titulo-promociones h2 {
//     height: 100%;
//     width: 100%;
//     text-align: center;
//     margin-top: 70px;
//     padding-top: 100px;
//     font-size: 40px;
//     }

// .promociones-descuentos {
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 2px;
// }

// .promociones-descuentos img {
//     width: 90%;
//     border: 6px solid rgb(57, 57, 116);
// margin-top: 80px;
// border-style: double;
// box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.719);
// }

// .promociones-descuentos img:hover {
// transform: scale(1.1);
// box-shadow:0px 0px 5px 5px rgb(57, 57, 116);
// }
// }    

@media (max-width: 768px){
    header {
        font-size: 12px;
        text-align: center;
        display: flex;
    }
    .portada h2 {
        font-size: 30px;
    }
    .traje-index img {
        width: 90%;
    }

    .parrafo {
        color: white;
        transform: translate(-20%,25%);
    }

    .producto {

        padding:100px;
        border: 1px solid red;
        display: block;
        flex-direction: column;
        align-items: first normal;
        gap: 30px;
    }
}