header {
    background-color:rgba(20, 31, 194, 0.548);
    padding: 20px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    position: absolute;
    top: 0;
}
header nav ul {
    display: flex;
    gap: 5px;

    nav {
        padding: 10px;

        display: flex;
        justify-content: end;

        li {
            padding: 10px;
            font-size: 20px;
        }
    }
}

@media (max-width: 375px) {
        
    header {
    padding: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header nav ul {
    display: block;
}

.titulo-portada {
    margin: 50px 0px;
    font-size: 20px;
    padding-top: 155px;
    
}

.traje-index {
    margin-top: -170px;
    width: 60px;
    margin-left: 100%;
}
.parrafo-mobile{
    color: rgba(255, 255, 255, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px 0px 0px;
    margin: -130px 0px 0px -250px;
}

.titulo-categorias {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
}