.tarjeta-producto {
    
    min-width: 420px ;
    height: 420px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tarjeta-producto:hover {
transform: scale(1.1);

}